body {
  margin: 0;
  background-color: #e7ffea;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}
h1 {
  font-size: 36px;
  margin: 0px;
}
p {
  font-size: 24px;
}
#title-style {
  text-decoration: underline;
  font-style: italic;
}
