body {
  margin: 0;
  background-color: #a9e7b1;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}
/*Sets font size and margin around element*/
h1 {
  font-size: 36px;
  margin: 0px;
}
h2 {
  padding: 0px;
  margin: 0px;
}
p {
  font-size: 24px;
}
#info-head-style {
  font-size: 30px;
  text-decoration: underline;
  font-weight: normal;
}
/*Underlines and italizes the title text*/
#title-style {
  text-decoration: underline;
  font-style: italic;
}
.nav-link {
  margin: 6px;
  padding: 8px;
  color: black;
  /*Makes border 1 pixel thick and transparent*/
  border: 1px transparent;
}
.nav-link:hover {
  background-color: rgb(200, 200, 200);
}
.youtube-link {
  margin: 6px;
  padding: 8px;
  color: black;
  font-size: 24px;
}
.youtube-link:hover {
  color: rgb(37, 165, 37);
}
.foot-link {
  margin: 6px;
  padding: 8px;
  color: black;
  border: 1px transparent;
}
.foot-link:hover {
  background-color: rgb(200, 200, 200);
}
.foot-link li {
  font-size: 18px;
  display: inline-block;
}
.nav-link li {
  font-size: 24px;
  display: inline-block;
}
.green-word {
  color: rgb(37, 165, 37);
}
.grey-word {
  color: rgb(75, 75, 75);
}
header {
  /*Sets a background color for the header*/
  background-color: rgb(225, 225, 225);
  /*Sticks header it to the top
        of the screen which stays as you scroll*/
  position: sticky;
  top: 0px;
  padding: 5px;
  /*Puts header on a layer above all other elements*/
  z-index: 1;
}
footer {
  background-color: rgb(225, 225, 225);
  padding: 5px;
}
/*The blocked paragraph class will create a block of grey around an element*/
.blocked-paragraph {
  background-color: rgb(225, 225, 225);
  display: inline-block;
  /*Puts additional space surrounding the text inside an element*/
  padding: 10px;
  margin: 20px;
}
ul {
  padding: 0px;
  /*Removes list dots*/
  list-style: none;
}
