body {
  margin: 0;
  background-color: #e7ffea;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}
/*Sets font size and margin around element*/
h1 {
  font-size: 36px;
  margin: 0px;
}
p {
  font-size: 24px;
}
#info-head-style {
  font-size: 30px;
  text-decoration: underline;
}
/*Underlines and italizes the title text*/
#title-style {
  text-decoration: underline;
  font-style: italic;
}
