/*
  -I decided to write down all my thoughts about my websites design here.

  Color/Additional Design Choices:
  -I used a form of analogous colors for my theme with different greens 

  -Primary Color: Dark Green (#3a5a3a), Dark Grey (#505050)
  -Secondary Colors: Soft Green (#ccffcc)
  -Neutral Colors: Off-Black (#141414), Light Grey (#f5f5f5)

  -I chose a green color scheme with different greys mainly
  because of how it fits with the focus of the site. Green can
  represents nature, and greenspace which works perfectly
  with plants vs. zombies. The game is full of greens and
  greys as the two most important colors and I found they worked 
  beautifully in my site as well. Greys are always representing the 
  zombies, greens the plants. Green is still utilized more
  in the games so I dsigned my site the same.

  -The primary colors are darkened versions of 
  the secondary and neutral ones to stand out. 
  I needed two primary to represent both sides 
  of my website, the plants and zombies. Every
  "Plant" or "Zombie" word is colored this way
  as well as the nav bar.

  -All colors fit into the 7:1 color ratio
  -I knew I would use a light color theme as my site 
  has lots of text and many bright elements.
  -I chose to go with a list of sans-serif fonts to 
  get a more modern and fresh look with my site
  -line-height word spacing and letter spacing all 
  selected to improve text breathing room

  -I used a text hierarchy of 12-24-36-48 to Show 
  different heading sizes. This works as the 
  head is double the size of the paragraph text
  and the sub-header is in the middle, adding
  12px everytime.
*/

/*
  -Mr. Coppens showed me this code.
  -I'm not using it but I'd love to preserve it!
  -May also save for later use in this project.

  .green-drop {
    width: auto;
    background-color: #3a5a3a;
    color: #f5f5f5;
    padding: 30px;
  }
  .white-drop {
    width: auto;
    background-color: #f5f5f5;
    color: #3a5a3a;
    padding: 30px;
  }
*/

/*
  Adds the base text styles applied to the file's bodies including
  background color, text color, fonts, the documents postitioning, 
  and breathing room between words, letters, and rows.
*/
body {
  margin: 0;
  background-color: #ccffcc;
  font-family: Arial, Helvetica, sans-serif;
  color: #141414;
  text-align: center;
  line-height: 200%;
  word-spacing: 2px;
  letter-spacing: 0.5px;
}
/*
  Changes the font size for primary header and removes the 
  margin surrounding it.
*/
h1 {
  font-size: 48px;
  margin: 0px;
}
/*
  Removes the padding inside an element along with the outer margin
*/
h2 {
  padding: 0px;
  margin: 0px;
}
p {
  font-size: 24px;
}
/*
  Creates a custom text style ID for a mini header which
  underlines text, changes the font's weight (boldness) back to normal
  and alters text size.
*/
#info-head-style {
  font-size: 36px;
  text-decoration: underline;
  font-weight: normal;
}
/*
  Underlines and italizes the title text
*/
#title-style {
  margin: 10px;
  text-decoration: underline;
  font-style: italic;
}
.nav-link {
  margin: 6px;
  padding: 8px;
  color: #141414;
}
/*
  Creates an underline effect when hovering over a link
*/
.nav-link:hover li {
  text-decoration: underline;
}
/*
  Creates a custom link style to a youtube video
  utilizing italics and other properties mentioned
  previously.
*/
.youtube-link {
  margin: 6px;
  padding: 8px;
  color: #141414;
  font-size: 24px;
  font-style: italic;
  text-decoration: none;
}
.youtube-link:hover {
  text-decoration: underline;
}
/*
  Defines a custom footer link
*/
.foot-link {
  margin: 6px;
  padding: 8px;
  color: #141414;
}
.foot-link:hover li {
  text-decoration: underline;
}
.foot-link li {
  font-size: 24px;
  display: inline-block;
}
.nav-link li {
  font-size: 24px;
  display: inline-block;
}
/*
  Green and Grey word are used in spans to add a specific color
  to highlight the words plant (green) and zombie (grey) respectively
*/
.green-word {
  color: #3a5a3a;
}
.grey-word {
  color: #505050;
}
header {
  /*
    Sets a background color for the header
  */
  background-color: #f5f5f5;
  /*
    Sticks header it to the top of the screen which stays as you scroll
  */
  position: sticky;
  top: 0px;
  padding: 5px;
  /*
    Puts header on a layer above all other elements
  */
  z-index: 1;
}
footer {
  background-color: #f5f5f5;
  padding: 5px;
}
/*
  The blocked paragraph class will create a block of grey around an element
*/
.blocked-paragraph {
  background-color: #f5f5f5;
  display: inline-block;
  /*
    Puts additional space surrounding the text inside an element
  */
  padding: 10px;
  margin: 20px;
}
ul {
  padding: 0px;
  /*
    Removes list dots
  */
  list-style: none;
}
