/*
Color/Additional Design Choices:
-Primary Color: Dark Green
-Secondary Colors: Soft Green
-Neutral Colors: Off-black, light grey
-I sourced all my colors from the web safe colors list
-I knew I would use a light color theme as my site 
has lots of text and many bright elements.
-I chose to go with a list of sans-serif fonts to 
get a more modern and fresh look with my site
*/
body {
  margin: 0;
  background-color: #ccffcc;
  font-family: Arial, Helvetica, sans-serif;
  color: #141414;
  text-align: center;
}
/*Sets font size and margin around element*/
h1 {
  font-size: 36px;
  margin: 0px;
}
h2 {
  padding: 0px;
  margin: 0px;
}
p {
  font-size: 24px;
}
#info-head-style {
  font-size: 30px;
  text-decoration: underline;
  font-weight: normal;
}
/*Underlines and italizes the title text*/
#title-style {
  text-decoration: underline;
  font-style: italic;
}
.nav-link {
  margin: 6px;
  padding: 8px;
  color: #141414;
  /*Makes border 1 pixel thick and transparent*/
  border: 1px transparent;
}
.nav-link:hover li {
  text-decoration: underline;
}
.youtube-link {
  margin: 6px;
  padding: 8px;
  color: #141414;
  font-size: 24px;
  font-style: italic;
  text-decoration: none;
}
.youtube-link:hover {
  text-decoration: underline;
}
.foot-link {
  margin: 6px;
  padding: 8px;
  color: #141414;
  border: 1px transparent;
}
.foot-link:hover li {
  text-decoration: underline;
}
.foot-link li {
  font-size: 18px;
  display: inline-block;
}
.nav-link li {
  font-size: 24px;
  display: inline-block;
}
.green-word {
  color: #3a5a3a;
}
.grey-word {
  color: #505050;
}
header {
  /*Sets a background color for the header*/
  background-color: #f5f5f5;
  /*Sticks header it to the top
        of the screen which stays as you scroll*/
  position: sticky;
  top: 0px;
  padding: 5px;
  /*Puts header on a layer above all other elements*/
  z-index: 1;
}
footer {
  background-color: #f5f5f5;
  padding: 5px;
}
/*The blocked paragraph class will create a block of grey around an element*/
.blocked-paragraph {
  background-color: #f5f5f5;
  display: inline-block;
  /*Puts additional space surrounding the text inside an element*/
  padding: 10px;
  margin: 20px;
}
ul {
  padding: 0px;
  /*Removes list dots*/
  list-style: none;
}
